*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: black;
    margin: 0;

}
.container{
    width: 100vw;
    min-height: 100vh;
    background-color: yellow;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 4px 6px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 100px;
transform-origin: top left;
position: relative;
transition: 0.4s ease;
}
.container-active{
    width: 100vw;
    min-height: 100vh;
    background-color: yellow;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 4px 6px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 100px;
transition: 0.4s linear;

transform: rotate(-20deg);
position: relative;
}
.progress-container-active{
position: fixed;
background-color: brown;
transition: top left;
top: -100px;
left: -100px;
border-radius: 50%;
border: 4px solid grey;
transform: rotate(150deg);
transition: 0.4s linear;
}
.progress-container{
    position: fixed;
    background-color: brown;
    transition: top left;
    top: -100px;
    left: -100px;
    border-radius: 50%;
    border: 4px solid grey;
    transition: 0.4s ease;
    }
.progress{
    position: relative;
    height: 200px;
    width: 200px;

   
}
.open{
    position: absolute;
    top: 150px;
    left: 100px;
    background-color: transparent;
    border: none;
    
}
.close{
    position: absolute;
    left: 90px;
    background-color: transparent;
    border: none;
}
.menu{
    background-color: black;
z-index: -1;
position: absolute;
left: -200px;
bottom: 50px;

}
.article img{
    max-height: 500px;
}
